*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* COLORS */
.orange{
    color: rgb(255, 187, 0);
    font-size: 30px;

}
.yellow{
    background-color: yellow;

}
.green{
    background-color: green;
    width: 50px;
}
.blue{
    background-color: blue;

}
.text-white{
    color: white;
}
.transparent-badge{
    background-color: rgba(21, 21, 105, 120);
}

/* UTILITIES */


.logo-mobile{
    width: 50px;
}
.title-logo{
    vertical-align: middle;
    display: inline-block;
}
.side-bar{
    max-width: 120px;
    display: flex;
    background-color: rgb(5, 4, 31);
    height: 100vh;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.main-content{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(245, 238, 238);
}
.col i{
    padding-bottom: 20px;
}
.col i:first-child{
    padding-top: 5px;
}
.col p{
    margin-bottom: 0;
    padding-bottom: 12px;
}
.content-top-sidebar{
    height: 100%;

}
.icons{
    list-style-type: none;
    display: inline;
    padding: 10px;

}
.links-icon{
    list-style-type: none;
    display: inline;
    padding-left: 0;
    padding: 10px;

    
}
.links-icon li{
    padding-bottom: 18px;
    padding-right: 20px;
    
}



/* CARD */
.img-logo-card{
    width: 20px;

}









